@import "bootstrap-1.4.0.css";
@import "jquery-ui-1.8.23.custom.css";
@import "jquery.contextMenu.css";

#login, #register, #message, #loading {
  display: none;
  width: 470px;
  margin: -250px 0 0 -225px;
}

#login .alert-message, #register .alert-message, #admin-user .alert-message {
  display: none;
}
#login label, #register label {
  font-weight: bold;  
  width: 150px;
  padding-right: 5px;
}
#login .error, #register .error, #admin-user .error {
  border: 1px solid red;
}
#login .valid, #register .valid, #admin-user .valid {
  border: 1px solid green;
}

#loading { }
#loading .loading {
  padding: 10px;
  float: left;
}
#loading .message {
  font-weight: bold;
  line-height: 125px;
  margin-left: 50px;
  float: left;
}

div.popover {
  z-index: 12000;
}

#main {
  margin-top: 40px;
}
#main #sidebar {
  float: left;
  margin: 0;
  z-index: 3;
  width: 265px;
  border-right: 1px solid black;
  background: white;
  box-shadow: 2px 0 5px #333;
  -moz-box-shadow: 2px 0 5px #333;
  -webkit-box-shadow: 2px 0 5px #333;
}
#main #sidebar h1 {
  text-align: center;
}
#main #sidebar h3 a {
  float: right;
  margin: 5px;
  font-size: 8pt;
}
#main #sidebar form {
  padding-left: 15px;
}
#main #sidebar #marks {
  padding: 10px 0;
  overflow-y: auto;
}
#main #sidebar #marks .mark {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
#main #sidebar #marks .mark:first-child {
  border-top: 1px solid #ccc;
}

#main #algview {
  display: none;
  width: 200px;

  z-index: 2;
  position: relative;
  float: left;
  padding: 5px 5px 5px 10px;
  background: white;

  box-shadow: 0px 0px 5px #333;
  -moz-box-shadow: 0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;

  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#main #algview label {
 
  text-align: left;
  width: 180px;
  overflow-x: hidden;
}
#main #algview input {
  margin-top: 6px;
}
#main #algview .clearfix {
  margin-bottom: 3px;
}
#main #algview .close {
  margin: 10px 1px;
}

#main #map {
  float: right;
  z-index: 1;
  background:grey;
  position:absolute;
}

#main #map img.leaflet-marker-icon {
  opacity: 0.7;
}

#main #map img.leaflet-marker-icon:hover {
  opacity: 1.0;
}

#main #data {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background: white;

  box-shadow: -2px -2px 5px #333;
  -moz-box-shadow: -2px -2px 5px #333;
  -webkit-box-shadow: -2px -2px 5px #333;

  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}
#main #data .minimize {
  display: none;
}
#main #data .content div:last-child {
  margin-top: 10px;
}
#main #data .content label {
  font-weight: bold;
}

#main #route-overlay {
  z-index: 3;
  position: absolute;
  padding: 5px;
  background: white;
  border: 1px solid black;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#main #route-overlay .header {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding-top: 5px;
  padding-right: 5px;
}

#admin, #billing {
  width: 800px;
  margin: -300px 0 0 -400px;
}
#admin table, #billing table {
  max-width: 780px;
  height: 250px;
}
#admin table td.center, #billing table td.center {
  text-align: center;
}
#admin table td a, #billing table td a {
  padding: 0 5px;
}
#admin .pagination, #billing .pagination {
  margin: 0 auto;
}
#admin a.btn.back, #billing a.btn.back {
  display: none;
  float: left;
}
#admin a.new-user, #billing a.new-user {
  background: url(../img/plus-button.png) no-repeat;
  padding-left: 20px;
}
#admin-user {
  width: 400px;
  margin: 0 auto;
}

#login a.btn.register {
  float: left;
}

#imexport #export {
  display: none;
}
#imexport #export, #imexport #import {
  padding: 10px;
}
#imexport #import input {
  margin: 10px 10px 20px 10px;
} 

.container {
  width: auto;
}

.topbar {
  box-shadow: 0 2px 2px 0 #333;
  -moz-box-shadow: 0 2px 2px 0 #333;
  -webkit-box-shadow: 0 2px 2px 0 #333;
}
.topbar h3 a {
  margin-left: 25px;
}
.topbar ul li.menu, .topbar ul li.user, .topbar ul li.menu ul li.admin {
  display: none;
}
.topbar form {
  margin-left: 80px;
}

.ui-sortable-helper {
  border-top: 1px solid #ccc;
}

.icon {
  position: absolute;
  top: 2px;
  left: 2px;
}

.alg-combobox {position: relative; display: block; left:0; width:auto;}
#algview .ui-spinner {position: absolute; left:82%; width:auto;}
#algview .ui-spinner-buttons {position: relative;}
#algview .ui-spinner-button {overflow: hidden; }

#data .ui-spinner {position:absolute; margin:0; padding:0;}
#data .ui-spinner-buttons {position: relative; top: -9px;}
#data .ui-spinner-button {overflow: hidden; position: absolute; top:-9px;}

.spininput {
  width: 80%;
}
.textbox-dataview {
  size:10;
}

table.grid {
    border-collapse: collapse;
    border:0;
    cellspacing:0;
    cellpadding:0;
    margin:0;
    border-spacing: 0px;
    border-style: none;
  }
table.grid td { padding: 1px 1px; text-align: left}

.algdescription {
  font-size:10px;
  color: #777;
}