@import "bootstrap-1.3.0.css";

#login, #register, #message, #loading {
  display: none;
  width: 470px;
}

#login .alert-message, #register .alert-message {
  display: none;
}
#login label, #register label {
  font-weight: bold;
  width: 150px;
  padding-right: 5px;
}
#login .error, #register .error {
  border: 1px solid red;
}
#login .valid, #register .valid {
  border: 1px solid green;
}

#loading { }
#loading .loading {
  padding: 10px;
  float: left;
}
#loading .message {
  font-weight: bold;
  line-height: 125px;
  margin-left: 50px;
  float: left;
}

div.popover {
  z-index: 12000;
}

#main {
  margin-top: 40px;
}
#main #sidebar {
  float: left;
  margin: 0;
  z-index: 2;
  width: 250px;
  border-right: 1px solid black;
  background: white;
  box-shadow: 2px 0 5px #333;
  -moz-box-shadow: 2px 0 5px #333;
  -webkit-box-shadow: 2px 0 5px #333;
}
#main #sidebar h1 {
  text-align: center;
}
#main #sidebar form {
  padding-left: 15px;
}
#main #sidebar #marks {
  padding: 10px 0;
  overflow-y: auto;
}
#main #sidebar #marks .mark {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
#main #sidebar #marks .mark:first-child {
  border-top: 1px solid #ccc;
}

#main #map {
  float: right;
  z-index: 1;
  background:grey;
  position:absolute;
}

#main #data {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background: white;
  box-shadow: -2px -2px 5px #333;
  -moz-box-shadow: -2px -2px 5px #333;
  -webkit-box-shadow: -2px -2px 5px #333;
}
#main #data .minimize {
  display: none;
}
#main #data .content div:last-child {
  margin-top: 10px;
}
#main #data .content label {
  font-weight: bold;
}

#admin .modal-body {
  height: 400px;
}

.container {
  width: auto;
}

.topbar {
  box-shadow: 0 2px 2px 0 #333;
  -moz-box-shadow: 0 2px 2px 0 #333;
  -webkit-box-shadow: 0 2px 2px 0 #333;
}
.topbar h3 a {
  margin-left: 20px;
}
.topbar ul li.menu, .topbar ul li.user, .topbar ul li.menu ul li.admin {
  display: none;
}

.ui-sortable-helper {
  border-top: 1px solid #ccc;
}
